@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@40;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
/*:::Boton Modal:::*/

.boton-modal label{
    padding: 10px 15px;
    background-color: #0d6efd;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    transition: all 300 ms ease;
}

.boton-modal label:hover {

    background-color: #0b5ed7;
}
/*::: Fin Boton Modal:::*/

/*:::Ventana Modal:::*/
#btn-modal{
    display: none;
}

.container-modal{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0; left: 0;
    background-color: rgb(33, 37, 41, 0.8);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 100;

}
#btn-modal:checked ~ .container-modal{
    display: flex;
}
.content-modal{ /*::: Verificar :::*/
    width: 100%;
    max-width: 400px;
    padding: 20px;
    background-color: #fff;
    border-radius: 4px;
}

.content-modal h2{
    font-family: 'Poppins', sans-serif;
    margin-bottom: 15 px;
}
.content-modal p{
    padding: 15px 0px;
    border-top: 2px solid #dbdbdb;
    border-bottom: 2px solid #dbdbdb;
}
.content-modal .btn-cerrar{
    width: 100%;
    margin-top: 15px;
    display: flex;
    justify-content: flex-end;
}

.content-modal .btn-cerrar label {
    padding: 7px 10px;
    background-color: #0d6efd;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    transition: all 300 ms ease;
}
.content-modal .btn-cerrar label:hover{
    background-color: #0b5ed7;
}

.cerrar-modal{
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0; left: 0;
    z-index: -1;
}


@media screen and (max-width: 800px){
    .content-modal{ /*::: Verificar :::*/
        width: 90%;
    }
}
/*::: Fin de Ventana Modal:::*/


