@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat');


*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none !important;
    list-style: none !important;
}

body{
    background-color: aliceblue;
    height: 100vh;
}

p {
    margin-top: 0.5rem !important;
    margin-bottom: 0.2rem !important;
}

.montserrat-t {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

/* Navbar Styles */

header {
    width: 100%;
    height: 5rem;
    background-color: #04011E;
    display: flex;
    align-items: center !important;
    justify-content: space-between !important;
    padding: 0 8rem;
}

.logo {
    font-size: 1.4rem;
    font-weight: bold;
    color: #fff;
}

.logo-img {
    height: 45px;
}

.bars {
    display: none;
}

.nav-bar ul {
    display: flex;
}

.nav-bar ul li a {
    display: block;
    color: #fff;
    font-size: .9rem;
    padding: 10px 25px;
    transition: 0.2s;
    margin: 15px 5px 0;
}

.nav-bar ul li a:hover {
    color: #78D3D0;
}

.nav-bar ul li a.active {
    color: #78D3D0;
}


.nav-icon2 {
    margin-right: 8px;
}

@media (max-width: 1260px) {
    header {
        padding: 0 4rem;
    }
    .bars {
        display: block;
        cursor: pointer;
    }
    .bars .line {
        width: 28px;
        height: 3px;
        background-color: #fff;
        border-radius: 1px;
        margin: 6px 0;
    }
    .nav-bar {
        height: 0;
        position: absolute;
        top: 80px;
        left: 0;
        right: 0;
        width: 100vw;
        background-color: rgba(4,1,30, .8);
        transition: 0.5s;
        overflow: hidden;
    }
    .nav-bar.active {
        height: 275px;
        z-index: 10;
    }
    .nav-bar ul {
        display: block;
        width: fit-content;
        margin: 15px auto 0 auto;
        text-align: center;
        transition: 0.5s;
        opacity: 0;
    }
    .nav-bar.active ul {
        opacity: 1;
    }
    .nav-bar ul li a {
        margin-bottom: 10px;
        margin-top: 5px;
    }
}

.navbar-dropdwon {
    width: 100% !important;
    display: initial !important;
    color: #fff !important;
    background-color: #fff0 !important;;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23ffffff' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e") !important;
}


/* Navbar Styles END */



/* Carousel Styles */

.carousel-images {
    width: 100% !important;
    height: 100% !important;
    object-fit: cover !important;
    object-position: center !important;
}

.carousel-caption{
    padding-bottom: 20rem !important;
}

.btn-transparent {
    background: transparent;
    color: #fff;
    border: 2px solid #fff;
}
.btn-transparent:hover {
    background-color: #fff;
}

.btn-rounded {
    border-radius: 70px;
}

.btn-large {
    padding: 11px 45px;
    font-size: 18px;
}

.slick-prev:before,
.slick-next:before
{
    color: #78D3D0 !important;
}
/* Carousel Styles END*/



/* Login Styles */
section.index{
    justify-content: center;
    align-items: center;
    justify-items: center; 
    width: 100%;
    min-height: 100vh;
    background: url(../images/fondoF.jpg) no-repeat center;
    background-size: cover;
    display: grid; 
    grid-template-columns: 1fr; 
    grid-template-rows: 90% 10%; 
    gap: 0 0;
    grid-template-areas: 
    "."
    ".";
}


.t-light {
    font-size: .9em;
    font-weight: lighter;
}


.login-container {
    position: relative;
    width: 410px;
    border: 2px solid rgba(255,255,255, .6);
    border-radius: 20px;
    backdrop-filter: blur(25px);
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
}

.login-container h2 {
    margin-top: 10px;
    font-size: 2.3rem;
    color: #fff;
    text-align: center;
}

.login-input {
    position: relative;
    margin: 30px 0;
    width: 300px;
    border-bottom: 2px solid #fff;
}

.login-input label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    color: #fff;
    font-size: 1rem;
    pointer-events: none;
    transition: .4s;
    font-weight: bold;
}

input:focus ~ label,
input:valid ~ label {
    top: -5px;
}

.login-input input{
    width: 100%;
    height: 50px;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 1rem;
    padding: — 35px 0 5px;
    color: #fff;
}

.login-input i {
    position: absolute;
    color: #fff;
    font-size: 1.6rem;
    top: 19px;
    right: 8px;
}

.login-forgot {
    margin: -15px 0 15px;
    font-size: .9em;
    color: #fff;
    display: flex;
    justify-content: center;
}

.login-forgot label input {
    margin: 3px;
}

.login-forgot label a {
    color: #fff;
    text-decoration: none;
    transition: .3s;
    font-size: .9em;
}

.login-forgot label a:hover {
    text-decoration: underline;
}

.login-button {
    width: 100%;
    height: 45px;
    border-radius: 40px;
    background: #fff;
    border: none;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    font-size: 1rem;
    transition: .4s;
}

.login-button:hover {
    opacity: .8;
}

.login-register {
    font-size: .8rem;
    color: #fff;
    text-align: center;
    margin: 20px 0 10px;
}

.login-register p a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: .3s;
}

.login-register p a:hover {
    text-decoration: underline;
}
/* Login Styles END */



/* Footer Styles */
.footer-container {
    position: relative;
    height: 10vh;
    backdrop-filter: blur(25px);
    background-color: rgba(0, 0, 0, 0.4);
    justify-content: center;
    align-items: center;
    justify-items: center; 
    text-align: center;
}

.footer-container p {
    margin-top: 35px !important;
    text-align: inherit;
    color: #fff;
    font-weight: lighter;
    font-size: .9rem;
}
/* Footer Styles END */




/* Register Styles */
.register-container {
    position: relative;
    width: 510px;
    border: 2px solid rgba(255,255,255, .6);
    border-radius: 20px;
    backdrop-filter: blur(25px);
    height: 770px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
}

.register-container h2 {
    font-size: 2.3rem;
    color: #fff;
    text-align: center;
}

.register-input {
    position: relative;
    margin: 30px 0;
    width: 400px;
    border-bottom: 2px solid #fff;
}

.register-input label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    color: #fff;
    font-size: 1rem;
    pointer-events: none;
    transition: .4s;
    font-weight: bold;
}

input:focus ~ label,
input:valid ~ label {
    top: -5px;
}

.register-input input{
    width: 100%;
    height: 50px;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 1rem;
    padding: — 35px 0 5px;
    color: #fff;
}


.register-checkbox {
    position: relative;
    margin: 30px 0;
    width: 400px;
    color: #fff;
    margin-left: 5px;
}

.register-button {
    width: 100%;
    height: 45px;
    border-radius: 40px;
    background: #fff;
    border: none;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    font-size: 1rem;
    transition: .4s;
}

.register-button:hover {
    opacity: .8;
}

.register-back {
    margin: 15px 0 15px;
    font-size: .9em;
    color: #fff;
    display: flex;
    justify-content: left;
}

.register-back label input {
    margin: 3px;
}

.register-back label a {
    color: #fff;
    text-decoration: none;
    transition: .3s;
    font-size: .9em;
}

.register-back label a:hover {
    text-decoration: underline;
}
/* Register Styles END*/




/* Forgot Styles */
.forgot-container {
    position: relative;
    width: 550px;
    border: 2px solid rgba(255,255,255, .6);
    border-radius: 20px;
    backdrop-filter: blur(25px);
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
}

.forgot-container h2 {
    font-size: 2.3rem;
    color: #fff;
    text-align: center;
}

.forgot-input {
    position: relative;
    margin: 30px 0;
    width: 400px;
    border-bottom: 2px solid #fff;
}

.forgot-input label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    color: #fff;
    font-size: 1rem;
    pointer-events: none;
    transition: .4s;
    font-weight: bold;
}

input:focus ~ label,
input:valid ~ label {
    top: -5px;
}

.forgot-input input{
    width: 100%;
    height: 50px;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 1rem;
    padding: — 35px 0 5px;
    color: #fff;
}

.forgot-input i {
    position: absolute;
    color: #fff;
    font-size: 1.6rem;
    top: 19px;
    right: 8px;
}

.forgot-button {
    width: 100%;
    height: 45px;
    border-radius: 40px;
    background: #fff;
    border: none;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    font-size: 1rem;
    transition: .4s;
}

.forgot-button:hover {
    opacity: .8;
}

.forgot-back {
    margin: 15px 0 15px;
    font-size: .9em;
    color: #fff;
    display: flex;
    justify-content: left;
}

.forgot-back label input {
    margin: 3px;
}

.forgot-back label a {
    color: #fff;
    text-decoration: none;
    transition: .3s;
    font-size: .9em;
}

.forgot-back label a:hover {
    text-decoration: underline;
}
/* Forgot Styles END*/




/* NewPass Styles */
.newpass-container {
    position: relative;
    width: 550px;
    border: 2px solid rgba(255,255,255, .6);
    border-radius: 20px;
    backdrop-filter: blur(25px);
    height: 420px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
}

.newpass-container h2 {
    font-size: 2.3rem;
    color: #fff;
    text-align: center;
}

.newpass-input {
    position: relative;
    margin: 30px 0;
    width: 400px;
    border-bottom: 2px solid #fff;
}

.newpass-input label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    color: #fff;
    font-size: 1rem;
    pointer-events: none;
    transition: .4s;
    font-weight: bold;
}

input:focus ~ label,
input:valid ~ label {
    top: -5px;
}

.newpass-input input{
    width: 100%;
    height: 50px;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 1rem;
    padding: — 35px 0 5px;
    color: #fff;
}

.newpass-input i {
    position: absolute;
    color: #fff;
    font-size: 1.6rem;
    top: 19px;
    right: 8px;
}

.newpass-button {
    width: 100%;
    height: 45px;
    border-radius: 40px;
    background: #fff;
    border: none;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    font-size: 1rem;
    transition: .4s;
}

.newpass-button:hover {
    opacity: .8;
}

.newpass-back {
    margin: 15px 0 15px;
    font-size: .9em;
    color: #fff;
    display: flex;
    justify-content: left;
}

.newpass-back label input {
    margin: 3px;
}

.newpass-back label a {
    color: #fff;
    text-decoration: none;
    transition: .3s;
    font-size: .9em;
}

.newpass-back label a:hover {
    text-decoration: underline;
}
/* NewPass Styles END*/




/* Token Box */
.otp-bx {
    display: flex;
}

.otp-bx input {
    width: 60px;
    font-size: 32px;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    border: 2px solid rgba(255,255,255, .6);
    background: #fff;
    font-weight: bold;
    color: black;
    outline: none;
    transition: 0.1s;
    margin: 20px 2px 30px;
}

.otp-bx input:focus {
    border: 2px rgb(255, 255, 255);
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, .4);
}

.space {
    margin-right: 10px !important;
}

.disabled {
    opacity: .5;
}
/* Token Box END */



/* Navegators Preferences */

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* EVENTS Styles */


.image-event {
    max-width: 100%;
    display: block;

}

.card-list {
    width: 100%;
    max-width: 600px;
}

.card {
    background-color: #FFF;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05), 0 20px 50px 0 rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    overflow: hidden;
    padding: 0.5rem;
    position: relative;
    transition: 0.15s ease-in;

    &:hover,
    &:focus-within {
        box-shadow: 0 0 0 2px #78D3D0, 0 10px 60px 0 rgba(0, 0, 0, 0.1);
        transform: translateY(-5px);
    }
}

.card-image {
    border-radius: 10px;
    overflow: hidden;
}

.card-header {
    margin-top: 0.1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    & a {
        font-weight: 600;
        font-size: 1.15rem;
        line-height: 1.25;
        padding-right: 1rem;
        text-decoration: none;
        color: inherit;
        will-change: transform;

        &:after {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
        }
    }
}

.card-header a p {
    font-weight: 300;
    font-size: 0.8rem;
}

.icon-button {
    border: 0;
    background-color: #fff;
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    font-size: 1.25rem;
    transition: 0.25s ease;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05), 0 3px 8px 0 rgba(0, 0, 0, 0.15);
    z-index: 1;
    cursor: pointer;
    color: #565656;

    & svg {
        width: 1em;
        height: 1em;
    }

    &:hover,
    &:focus {
        background-color: #EC4646;
        color: #FFF;
    }
}

.card-footer {
    margin-top: 1.25rem;
    border-top: 1px solid #ddd;
    padding-top: 1.25rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.card-meta {
    display: flex;
    align-items: center;
    color: #787878;

    &:first-child:after {
        display: block;
        content: "";
        width: 4px;
        height: 4px;
        border-radius: 50%;
        background-color: currentcolor;
        margin-left: 0.75rem;
        margin-right: 0.75rem;
    }

    & svg {
        flex-shrink: 0;
        width: 1em;
        height: 1em;
        margin-right: 0.25em;
    }
}


/* END EVENTS Styles */



/* ACTIVITIES Styles */

.carousel-act{
    width:90%;
    margin:0 auto;
}
.bg-image {
    position: relative;
    overflow: hidden;
    background-repeat: no-repeat;
    border-radius: 10px;
    background-size: cover;
    background-position: 50%;
}
.mask {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-attachment: fixed;
}
.flex-column {
    flex-direction: column!important;
}
.d-flex {
    display: flex!important;
}
.slick-slide{
    margin:10px;
}
.slick-slide img{
    width:100%;
    border: 2px solid #fff;
}
.wrapper .slick-dots li button:before {
    font-size:20px;
    color:white;
}

/* END ACTIVITIES Styles */


/* MAPA Styles*/

.univ-mapa .modu-dest-intern {
    padding: 22px 24px 40px 24px;
}
.modu-dest-intern {
    background: url('https://cdn01.pucp.education/template/inst-homepucp/images/textura-dest.gif');
    padding: 22px 24px;
    border-bottom: 5px solid #D8DEE0;
    margin-bottom: 70px;
    width: 100%;
    text-align: center;
}

.univ-mapa .mapita-iframe iframe {
    height: 161px;
}
.mapita-iframe iframe {
    width: 100%;
    height: 300px;
    margin-bottom: 25px;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

iframe {
    overflow-clip-margin: content-box !important;
    border-width: 2px;
    border-style: inset;
    border-color: initial;
    border-image: initial;
    overflow: clip !important;
}
.modu-dest-intern {
    background: url(https://cdn01.pucp.education/template/inst-homepucp/images/textura-dest.gif);
    padding: 22px 24px;
    border-bottom: 5px solid #D8DEE0;
    margin-bottom: 70px;
    text-align: center;
}
/* MAPA Styles END */


.a-button{
    color: #f8f9fa !important;
}

.a-button:hover {
    color: #282828 !important;
}


/* ALBUM Styles */
/* ===============================
	Async image loading
=============================== */
.async-image-holder {
    position: relative;
    overflow: hidden;
}
.async-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0;
    transition: opacity .3s ease-out 0s;
}
.async-image.loaded {
    opacity: 1;
}
.async-image.low-res {
    filter: blur(3px);
}

/* ===============================
	BEGIN GALLERY
=============================== */
.gallery{
    display: flex;
    flex-flow: wrap row;
    justify-content: space-between;

    width: 95%;
    margin: 50px auto;
}
/* These three lines are incredibly useful for flexbox.
Kudos to https://stackoverflow.com/a/34816625*/
.gallery:after {
    content: "";
    display: inline-block;
    flex: auto;
}

/* =========================================
    Gallery image sizes
========================================== */
/*Setting height by padding-top maintains aspect ratio when window is resized*/
/* 2 columns */
.gallery-image {
    width: 49.57%;
    padding-top: 35%;
    margin: .2%;
    background-color: rgba(20, 20, 20, .3);
}

/* 3 columns */
@media screen and (min-width: 500px){
    .gallery-image{
        width: 33.1%;
        padding-top: 23.3709%;
        margin: .1%;
    }
}
/* 4 columns */
@media screen and (min-width: 700px){
    .gallery-image{
        width: 24.8%;
        padding-top: 17.5105%;
        margin: .1%;
    }
}
/* 5 columns */
@media screen and (min-width: 800px){
    .gallery-image{
        width: 19.8%;
        padding-top: 13.9802%;
        margin: .1%;
    }
}
/* 6 columns */
@media screen and (min-width: 1200px){
    .gallery-image{
        width: 16.5%;
        padding-top: 11.6501%;
        margin: .082%;
    }
}


/* ===============================
	BEGIN LIGHTBOX
=============================== */


#swgl-overlay {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    opacity: 0;
    background-color: rgba(0,0,0,.9);
    transition: max-height 270ms linear 0s, opacity 250ms linear 0s;
    max-height: 0;
    overflow: hidden;
}
#swgl-overlay.active {
    opacity: 1;
    max-height: 100vh;
    transition: max-height 0s linear 0s, opacity 250ms linear 0s;
}
/* =========================
    CONTROLS
========================= */
#swgl-controls {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5000;
}
.swgl-digitizer {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.swgl-btn {
    position: absolute;

    border-width: 0;
    font-size: 35px;
    color: rgb(255,255,255);
    text-shadow: 1px 2px 5px rgba(0, 0, 0, 0.2);
    padding: 156px 16px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;
}
.swgl-btn:focus,.swgl-btn:active {
    outline: none !important;
}
.swgl-nav-btn {
    top: 50%;
    transform: translateY(-50%);
    width: 110px;
    color: rgba(255,255,255,.6);
    transition: background-color .4s ease 0s, color .4s ease 0s;
}
.swgl-nav-btn:hover {
    color: rgba(255,255,255,1);
    background-color: rgba(60,60,60, .4);
}
#swgl-close-btn {
    top: 0px;
    right: 0px;
    padding: 7px 15px;
    font-size: 45px;
    z-index: 4000;
}
#swgl-prev-btn {
    left: 0px;
    text-align: left;
}
#swgl-next-btn {
    right: 0px;
    text-align: right;
}
/* =========================
    Slide wrapper
========================= */
#swgl-slide-wrapper{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
}
/* ==========================
    Loading spinner
===========================*/
.swgl-loading-spinner {
    position: absolute;
    display: block;
    width: 65px;
    height: auto;
    top: 50%;
    left: 50%;
    animation-name: swgl-spinner;
    animation-iteration-count: infinite;
    animation-duration: 2s;
}
/* The animation code */
@keyframes swgl-spinner {
    from { transform: translate(-50%, -50%) rotate(0deg) }
    to { transform: translate(-50%, -50%) rotate(360deg) }
}
/* =========================
    SLIDE
========================= */
.swgl-slide {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    max-width: 400px;
    max-height: 260px;
    top: 50%;
    left: 50%;
    border-radius: 2px;

    border: 2px solid rgb(255,255,255);
    background: rgb(228, 228, 228);
    overflow: hidden;

    transform: translate(-50%, -50%);
    transform-origin: 50% 50%;
    transition: opacity 500ms linear 0s, transform 500ms ease-out 0s, max-height 500ms ease 0s, max-width 500ms ease 0s;
}
.swgl-slide.loaded {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}
.swgl-left {
    opacity: 0;
    transform: translate(-155%, -50%) !important;
}
.swgl-right {
    opacity: 0;
    transform: translate(55%, -50%) !important;
}
.swgl-center {
    opacity: 0;
}
.swgl-slide-img {
    display: block;
    width: auto;
    height: auto;
    max-height: 98vh;
    max-width: 98vw;
    opacity: 0;
    transition: opacity .4s ease-out 0s;
}
.swgl-slide-img.loaded {
    opacity: 1;
    width: auto;
    height: auto;
}
   .swgl-caption {
       display: none;
   }
/* ALBUM Styles END */


/* Tabla de Usuarios */

.no-overflow {
    overflow: auto;
    scrollbar-width: thin;
    scrollbar-color: #757474 #F5F5F5;
}



.table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}


.table, .generaltable, .rolecap, .userenrolment, #categoryquestions, .grading-report, .gradereport-grader-table, #completion-progress {
    width: 100%;
    margin-bottom: 1rem;
    color: #212121;
}

.table.table-sm th, .table.table-sm td, .generaltable.table-sm th, .table-sm.rolecap th, .generaltable.table-sm td, .table-sm.rolecap td, .userenrolment.table-sm th, .userenrolment.table-sm td, #categoryquestions.table-sm th, #categoryquestions.table-sm td, .grading-report.table-sm th, .grading-report.table-sm td, .gradereport-grader-table.table-sm th, .gradereport-grader-table.table-sm td, #completion-progress.table-sm th, #completion-progress.table-sm td {
    padding: 0.3rem;
}


.table tbody th, .table thead th, .generaltable tbody th, .rolecap tbody th, .generaltable thead th, .rolecap thead th, .userenrolment tbody th, .userenrolment thead th, #categoryquestions tbody th, #categoryquestions thead th, .grading-report tbody th, .grading-report thead th, .gradereport-grader-table tbody th, .gradereport-grader-table thead th, #completion-progress tbody th, #completion-progress thead th {
    font-size: .75rem;
    font-weight: 500;
}


.table thead th, .generaltable thead th, .rolecap thead th, .userenrolment thead th, #categoryquestions thead th, .grading-report thead th, .gradereport-grader-table thead th, #completion-progress thead th {
    border-bottom: 2px solid #E1E1E1;
    color: #6B6B6B;
}


.table th, .table td, .generaltable th, .rolecap th, .generaltable td, .rolecap td, .userenrolment th, .userenrolment td, #categoryquestions th, #categoryquestions td, .grading-report th, .grading-report td, .gradereport-grader-table th, .gradereport-grader-table td, #completion-progress th, #completion-progress td {
    border: 0;
    padding: 0.75rem;
    vertical-align: middle;
}


.table-sm th, .table-sm td {
    padding: 0.3rem;
    font-size: 15px;
}


th {
    text-align: inherit;
    text-align: -webkit-match-parent;
}


*, *::before, *::after {
    box-sizing: border-box;
}


th {
    display: table-cell;
    vertical-align: inherit;
    font-weight: bold;
    text-align: -internal-center;
}

.table, .generaltable, .rolecap, .userenrolment, #categoryquestions, .grading-report, .gradereport-grader-table, #completion-progress {
    width: 100%;
    margin-bottom: 1rem;
    color: #212121;
}


table {
    border-collapse: collapse;
}

table {
    border-collapse: separate;
    text-indent: initial;
    border-spacing: 2px;
}

*, *::before, *::after {
    box-sizing: border-box;
}


tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}


.table, .generaltable, .rolecap, .userenrolment, #categoryquestions, .grading-report, .gradereport-grader-table, #completion-progress {
    width: 100%;
    margin-bottom: 1rem;
    color: #212121;
}


table {
    border-collapse: collapse;
}

table {
    border-collapse: separate;
    text-indent: initial;
    border-spacing: 2px;
}


.table tbody tr:nth-of-type(odd), .generaltable tbody tr:nth-of-type(odd), .rolecap tbody tr:nth-of-type(odd), .userenrolment tbody tr:nth-of-type(odd), #categoryquestions tbody tr:nth-of-type(odd), .grading-report tbody tr:nth-of-type(odd), .gradereport-grader-table tbody tr:nth-of-type(odd), #completion-progress tbody tr:nth-of-type(odd) {
    background-color: transparent;
}


.table tbody tr, .generaltable tbody tr, .rolecap tbody tr, .userenrolment tbody tr, #categoryquestions tbody tr, .grading-report tbody tr, .gradereport-grader-table tbody tr, #completion-progress tbody tr {
    background-color: transparent;
    border-bottom: 1px solid #E1E1E1;
}


*, *::before, *::after {
    box-sizing: border-box;
}


tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}


.table, .generaltable, .rolecap, .userenrolment, #categoryquestions, .grading-report, .gradereport-grader-table, #completion-progress {
    width: 100%;
    margin-bottom: 1rem;
    color: #212121;
}


table {
    border-collapse: collapse;
}


body {
    margin: 0;
    font-family: "Poppins",sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212121;
    text-align: left;
    background-color: #fff;
}


:root {
    --blue: #406CD2;
    --purple: #D0C6F0;
    --red: #ef1010;
    --orange: #4c2101;
    --yellow: #F7B742;
    --green: #027654;
    --white: #fff;
    --gray: #757474;
    --gray-dark: #434343;
    --primary-color-100: #e6eaf7;
    --primary-color-200: #ccd5f0;
    --primary-color-300: #b3c0e8;
    --primary-color-400: #8096d9;
    --primary-color-500: #3357c2;
    --primary-color-600: #002db3;
    --primary-color-700: #001b6b;
    --primary-color-800: #00175a;
    --primary-color-900: #000e36;
    --gray-100: #F5F5F5;
    --gray-200: #EEE;
    --gray-300: #E1E1E1;
    --gray-400: #D8D8D8;
    --gray-500: #B7B7B7;
    --gray-600: #757474;
    --gray-700: #6B6B6B;
    --gray-800: #434343;
    --gray-900: #212121;
    --primary: #002db3;
    --secondary: #757474;
    --success: #002db3;
    --info: #406CD2;
    --warning: #F7B742;
    --danger: #ef1010;
    --light: #757474;
    --dark: #212121;
    --breakpoint-xs: 0;
    --breakpoint-sm: 320px;
    --breakpoint-md: 768px;
    --breakpoint-lmd: 1000px;
    --breakpoint-lg: 1200px;
    --breakpoint-xl: 1600px;
    --breakpoint-xxl: 3000px;
    --font-family-sans-serif: "Inter",system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    --font-family-monospace: "SFMono-Regular",Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
}



.custom-form-group {
    position: relative;
    display: inline-block;
    margin-right: 60px; /* Espacio entre elementos */
}





/*form control boton busqueda tabla*/


.form-control {
    display: block;
    width: 120%;
    padding: input-padding-y input-padding-x;
    @include font-size(input-font-size);
    font-weight: input-font-weight;
    line-height: input-line-height;
    color: input-color;
    background-color: input-bg;
    background-clip: padding-box;
    border: input-border-width solid input-border-color;
    appearance: none; // Fix appearance for date inputs in Safari

}

