/* Google Fonts - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

/* Fuentes de Google Fonts */
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto|Lato|Montserrat|Raleway|Poppins|Playfair+Display|Pacifico|Quicksand|Dancing+Script');

/* Aplicar fuentes a elementos HTML */

.open-sans{
  font-family: 'Open Sans', sans-serif;
}

.montserrat {
  font-family: 'Montserrat', sans-serif;
}

.lato {
  font-family: 'Lato', sans-serif;
}



*{
  margin: 0;
  padding: 0;
  font-family: 'Muli', sans-serif;
}
body{
  
  align-items: center;

  background-color: #f5f5f5;
}
.slide-container{
  max-width: 1120px;
  width: 100%;
  padding: 40px 0;
}

.generic-container{
  max-width: 1120px;
  width: 100%;
  padding: 40px 0;
}

.slide-content{
  margin: 0 40px;
  overflow: hidden;
  border-radius: 25px;
}
.card{
  border-radius: 25px;
  border-width: 2px;
  background-color: #6950A1;
}
.image-content,
.card-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 14px;
}
.image-content{
  position: relative;
  row-gap: 5px;
  padding: 25px 0;
}
.overlay{
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #33294E;
  border-radius: 25px 25px 0 25px;
}
.overlay::before,
.overlay::after{
  content: '';
  position: absolute;
  right: 0;
  bottom: -40px;
  height: 40px;
  width: 40px;
  background-color: #6950A1;
}
.overlay::after{
  border-radius: 0 25px 0 0;
  background-color: #6950A1;
}
.card-image{
  position: relative;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background:#6950A1;
  padding: 3px;
}
.card-image .card-img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid #fafafa;
}
.name{
  font-size: 18px;
  font-weight: 500;
  color: #333;
}
.description{
  font-size: 14px;
  color: #707070;
  text-align: center;
}
.button{
  border: none;
  font-size: 20px;
  color: #FFF;
  padding: 8px 16px;
  background-color: #6950A1;
  border-radius: 6px;
  margin: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
}


.button:hover{
  background: #45336b;
}



.button-2{
  border: none;
  font-size: 20px;
  color: #FFF;
  padding: 8px 16px;
  background-color: #45336b;
  border-radius: 6px;
  margin: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
}


.badge-dark {
  color: #fff;
  background-color: #343a40;
}
.badge-primary {
  color: #fff;
  background-color: #007bff;
}
.badge-secondary {
  color: #fff;
  background-color: #6c757d;
}
.badge {
  display: inline-block;
  padding: 0.25em 0.4em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
}

.button-2:hover{
  background: #523e7e;
}


.button-3{
  border: none;
  font-size: 15px;
  color: #FFF;
  padding: 8px 16px;
  background-color: #45336b;
  border-radius: 6px;
  margin: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
}




.button-3:hover{
  background: #523e7e;
}



.swiper-navBtn{
  color:#7355b4;
  transition: color 0.3s ease;
}
.swiper-navBtn:hover{
  color:#45336b;
}
.swiper-navBtn::before,
.swiper-navBtn::after{
  font-size: 35px;
}
.swiper-button-next{
  right: 0;
}
.swiper-button-prev{
  left: 0;
}
.swiper-pagination-bullet{
  background-color: #7355b4;
  opacity: 1;
}
.swiper-pagination-bullet-active{
  background-color: #45336b;
}

@media screen and (max-width: 768px) {
  .slide-content{
    margin: 0 10px;
  }
  .swiper-navBtn{
    display: none;
  }
} 




/* SWIPER PERSONALIZADO */


  .card1{
  border-radius: 10px;
  background-color: transparent;
}
.image-content1,
.card-content1{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 4px;
}
.image-content1{
  position: relative;
  row-gap: 5px;
  padding: 15px 0;
}
.overlay1{
  position: absolute;
  left: 5%;
  top: 5%;
  height: 90%;
  width: 90%;
  background-color: transparent;
  border-radius: 220px 220px 220px 220px;
}
.overlay1::before,
.overlay1::after{
  content: '';
  position: absolute;
  right: 0;
  bottom: -40px;
  height: 40px;
  width: 40px;
  background-color: transparent;
}
.overlay1::after{
  border-radius: 100px;
  background-color: transparent;
}
.card-image1{
  position: relative;
  height: 220px;
  width: 220px;
  border-radius: 50%;
  background:#6950A1;
  padding: 3px;
}
.card-image1 .card-img1{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 5px solid #45336b;
}
.name1{
  font-size: 18px;
  font-weight: 500;
  color: #333;
}
.description1{
  font-size: 14px;
  color: #707070;
  text-align: center;
}
.button1{
  font-family: 'Poppins', sans-serif;
  border: none;
  font-size: 25px;
  color: #6950A1;
  background-color: transparent;
  padding: 6px 15px;
  border-radius: 6px;
  margin: 2px;
  cursor: pointer;
  transition: all 0.3s ease;
}


.button1:hover{
  color: #45336b;
}


/**/







.donate-container {   
  display: grid; 
  grid-auto-columns: 1fr; 
  grid-auto-rows: 1fr; 
  grid-template-columns: 1fr 1fr; 
  grid-template-rows: 1fr; 
  gap: 0% 2%; 
  grid-template-areas: 
    ". ."; 
  justify-content: center; 
  justify-items: center; 
  align-items: center; 
}

.col1-donate {
  justify-self: end; 
  align-self: center; 
  width: 65%; 
  height: 100%; 
}

.col2-donate {
  justify-self: start; 
  align-self: center; 
  width: 65%; 
  height: 100%; 
}




/* STYLE PARA PREVIEW UPLOAD IMAGE*/

imgprv2 {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 5vh;
}
.container-imagen2 {
	max-width: 860px;
	width: 100%;
	background: #fff;
	padding: 30px;
	border-radius: 20px;
}

.img-area2 {
	position: relative;
	width: 100%;
	height: 300px;
	background: #f2f2f2;
	margin-bottom: 30px;
	border-radius: 15px;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}


imgprv {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 40vh;
}


.container-imagen {
	max-width: 860px;
	width: 100%;
	background: #fff;
	padding: 30px;
	border-radius: 20px;
}
.img-area {
	position: relative;
	width: 100%;
	height: 400px;
	background: #f2f2f2;
	margin-bottom: 30px;
	border-radius: 15px;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.img-area .icon {
	font-size: 100px;
}
.img-area h3 {
	font-size: 20px;
	font-weight: 500;
	margin-bottom: 6px;
}
.img-area p {
	color: rgb(146, 146, 146)
}
.img-area p span {
	font-weight: 600;
}
.img-area img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
	z-index: 100;
}
.img-area::before {
	content: attr(data-img);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, .5);
	color: #fff;
	font-weight: 500;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	pointer-events: none;
	opacity: 0;
	transition: all .3s ease;
	z-index: 200;
}
.img-area.active:hover::before {
	opacity: 1;
}
.select-image {
	display: block;
	width: 100%;
	padding: 16px 0;
	border-radius: 15px;
	background: #0071FF;;
	color: #fff;
	font-weight: 500;
	font-size: 16px;
	border: none;
	cursor: pointer;
	transition: all .3s ease;
}
.select-image:hover {
	background: #005DD1;
}




/*STYLE PARA CAROUSEL NUEVO*/

.bg-light {
  background-color: transparent !important;
}

.w-100 {
  height: 80vh;
}

.carousel-item{
  height: 80vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}


.carousel-item:nth-child(1) {
  background-image: url('../../assets/dist/imgs/banner_large1.png');
}

.carousel-item:nth-child(2) {
  background-image: url('../../assets/dist/imgs/banner_large2.png');
}

.carousel-item:nth-child(3) {
  background-image: url('../../assets/dist/imgs/banner_large3.png');
}

.carousel-caption {
  bottom: 220px;
}

.carousel-caption h5 {
  font-size: 45px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 25px;
}

.carousel-caption p {
  width: 60%;
  margin: auto;
  font-size: 18px;
  line-height: 1.9;
}

.carousel-caption a {
  text-transform: uppercase;
  text-decoration: none;
  background: rgb(255, 255, 255);
  padding: 10px 30px;
  display: inline-block;
  border-radius: 15px;
  color: #000;
  margin-top: 15px;
}

.container-img-respon {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 80vh;
  box-shadow: inset 0 0.125em 1em rgba(0, 0, 0, 0.5);
}

@media (max-width: 768px) {
  .carousel-caption h5 {
    font-size: 45px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 25px;
  }
  
  .carousel-caption p {
    width: 60%;
    margin: auto;
    font-size: 18px;
    line-height: 1.9;
  }

  .carousel-caption {
    bottom: 120px;
  }
  .container-img-respon {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 60vh;
  }

  .carousel-item,
  .w-100 {
    height: 60vh;
    min-height: 300px;
}

}

@media (max-width: 480px) {
  .carousel-caption h5 {
    font-size: 25px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 25px;
  }
  
  .carousel-caption p {
    width: 60%;
    margin: auto;
    font-size: 10px;
    line-height: 1.9;
  }
  .carousel-caption {
    bottom: 180px;
  }

  .container-img-respon {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 60vh;
  }

  .carousel-item,
  .w-100 {
  height: 60vh;
  min-height: 300px;
}

.donate-container {   
  display: grid; 
  grid-auto-columns: 1fr; 
  grid-auto-rows: 1fr; 
  grid-template-columns: 1fr 1fr; 
  grid-template-rows: 1fr; 
  gap: 0% 2%; 
  grid-template-areas: 
    ". ."; 
  justify-content: center; 
  justify-items: center; 
  align-items: center; 
}

.col1-donate {
  justify-self: end; 
  align-self: center; 
  width: 100%; 
  height: 100%; 
}

.col2-donate {
  justify-self: start; 
  align-self: center; 
  width: 100%; 
  height: 100%; 
}

}



/* MAPA */

.univ-mapa .modu-dest-intern {
  padding: 22px 24px 40px 24px;
}
.modu-dest-intern {
  background: url('https://cdn01.pucp.education/template/inst-homepucp/images/textura-dest.gif');
  padding: 22px 24px;
  border-bottom: 5px solid #D8DEE0;
  margin-bottom: 70px;
  width: 100%;
  text-align: center;
}

.univ-mapa .mapita-iframe iframe {
  height: 161px;
}
.mapita-iframe iframe {
  width: 100%;
  height: 300px;
  margin-bottom: 25px;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

iframe {
  overflow-clip-margin: content-box !important;
  border-width: 2px;
  border-style: inset;
  border-color: initial;
  border-image: initial;
  overflow: clip !important;
}
.modu-dest-intern {
  background: url(https://cdn01.pucp.education/template/inst-homepucp/images/textura-dest.gif);
  padding: 22px 24px;
  border-bottom: 5px solid #D8DEE0;
  margin-bottom: 70px;
  text-align: center;
}




/* GALERIA */



.container.gallery-container {
  background-color: #fff;
  color: #35373a;
  min-height: 100vh;
  padding: 30px 50px;
}

.gallery-container h1 {
  text-align: center;
  margin-top: 50px;
  font-family: 'Droid Sans', sans-serif;
  font-weight: bold;
}

.gallery-container p.page-description {
  text-align: center;
  margin: 25px auto;
  font-size: 18px;
  color: #999;
}

.tz-gallery {
  padding: 40px;
}

/* Override bootstrap column paddings */
.tz-gallery .row > div {
  padding: 2px;
}

.tz-gallery .lightbox img {
  width: 100%;
  border-radius: 0;
  position: relative;
}

.tz-gallery .lightbox:before {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -13px;
  margin-left: -13px;
  opacity: 0;
  color: #fff;
  font-size: 0px;
  content: '\e003';
  pointer-events: none;
  z-index: 9000;
  transition: 0.4s;
}


.tz-gallery .lightbox:after {
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 0%;
  opacity: 0;
  background-color: rgba(46, 132, 206, 0.7);
  content: '';
  transition: 0.4s;
}

.tz-gallery .lightbox:hover:after,
.tz-gallery .lightbox:hover:before {
  opacity: 1;
}

.baguetteBox-button {
  background-color: transparent !important;
}

@media(max-width: 768px) {
  body {
      padding: 0;
  }
}


.button-borrar-filtro{
  border: none;
  font-size: 15px;
  color: #FFF;
  padding: 10px 16px;
  background-color: #0071FF;
  border-radius: 12px;
  margin: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.button-admin:hover{
  background:#005DD1;
}


.button-admin{
  border: none;
  font-size: 15px;
  color: #FFF;
  padding: 10px 16px;
  background-color: #0071FF;
  border-radius: 12px;
  margin: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.button-admin:hover{
  background:#005DD1;
}

.container-event-mod {  
  display: grid; 
  grid-auto-flow: column dense; 
  grid-template-columns: 1fr 1fr; 
  grid-template-rows: 1fr; 
  gap: 0px 50px; 
  grid-template-areas: 
    ". ."; 
  justify-content: center; 
  align-content: space-between; 
  justify-items: center; 
  align-items: center; 
}

.i-event-mod1 {
  justify-self: end;
  align-self: end;
  width: 40%;
  height: 100%;
}

.i-event-mod2 {
  justify-self: start;
  align-self: end;
  width: 40%;
  height: 100%;
}



/* UPLOAD MANY IMAGES */

pp{
  margin-bottom: 0;
}

.upload__box {
  padding: 40px;
}

.upload__inputfile {
  width: .1px;
  height: .1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.upload__btn {
  display: inline-block;
  color: #fff;
  text-align: center;
  min-width: 116px;
  padding: 10px 16px;
  transition: all .3s ease;
  cursor: pointer;
  background-color: #0071FF;
  border-radius: 10px;
  line-height: 26px;
  font-size: 14px;
}

.upload__btn:hover {
  background-color:  #005DD1;
  color:#fff;
  transition: all .3s ease;
}

.upload__btn-box {
  margin-bottom: 10px;
}

.upload__img-wrap {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px;
}

.upload__img-box {
  width: 200px;
  padding: 0 10px;
  margin-bottom: 12px;
}

.upload__img-close {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 10px;
  right: 10px;
  text-align: center;
  line-height: 24px;
  z-index: 1;
  cursor: pointer;
}

.upload__img-close:after {
  content: '\2716';
  font-size: 14px;
  color: white;
}

.img-bg {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  padding-bottom: 100%;
}



