.container-esports{
    background-image: url('../../pages/actividades_pages/act1/banner_act1/esports-large.png'); 
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center center; 
    height: 200px; 
    box-shadow:  inset 0 0.125em 1em rgba(0, 0, 0, 0.5);
} 

@media (max-width: 768px){
    .container-esports{
        background-image: url('../../pages/actividades_pages/act1/banner_act1/esports-large.png');
    }
}
    
@media (max-width: 480px)  {

    .container-esports{
        background-image: url('../../pages/actividades_pages/act1/banner_act1/esports-large.png');
    }
}    




.container-futbol{
    background-image: url('../../pages/actividades_pages/act1/banner_act1/esports-large.png'); 
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center center; 
    height: 200px; 
    box-shadow:  inset 0 0.125em 1em rgba(0, 0, 0, 0.5);
} 

@media (max-width: 768px){
    .container-futbol{
        background-image: url('../../pages/actividades_pages/act1/banner_act1/esports-large.png');
    }
}
    
@media (max-width: 480px)  {

    .container-futbol{
        background-image: url('../../pages/actividades_pages/act1/banner_act1/esports-large.png');
    }
}    